<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>formations</key>
		<array>
			<dict>
				<key>name</key>
				<string>3-4-3</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>2-4-4</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>4-3-3</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>4-4-2</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>4-3-2-1</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>660</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>660</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Adult</string>
		<key>numPlayers</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>formations</key>
		<array>
			<dict>
				<key>name</key>
				<string>3-3-1</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>700</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>2-3-2</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>3-2-2</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>2-4-1</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>700</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>600</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>450</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>150</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Child</string>
		<key>numPlayers</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>formations</key>
		<array>
			<dict>
				<key>name</key>
				<string>3-3</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>550</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>550</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>550</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>1-3-2</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>760</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Child</string>
		<key>numPlayers</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>formations</key>
		<array>
			<dict>
				<key>name</key>
				<string>3-2-3-1</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>680</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>680</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>680</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>3-3-2-1</string>
				<key>positions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>680</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>680</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Forward</string>
						<key>x</key>
						<integer>680</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>215</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>380</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Midfield</string>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>570</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>460</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Defender</string>
						<key>x</key>
						<integer>310</integer>
						<key>y</key>
						<integer>300</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Child</string>
		<key>numPlayers</key>
		<integer>9</integer>
	</dict>
</array>
</plist>
