<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildNumber</key>
	<string>4</string>
	<key>CFBuildVersion</key>
	<string>1.02</string>
	<key>CFBundleShortVersionString</key>
	<string>1.02.4</string>
	<key>CFBundleVersion</key>
	<string>1.02.4</string>
	<key>DDBuildNumber</key>
	<string>0</string>
</dict>
</plist>
